# Compiled objects
*.py[co]
*.class
*.[oa]
*.l[oa]

# Vim swap files
.*.swp

# Backup files
*~

# Vim stuff that shouldn't be replicated
.vim/.netrwhist

# Revision control directories for vim bundles
.vim/bundle/web-indent/.svn/
.vim/bundle/web-indent/indent/.svn/
