snippet arr
	$${1:arrayName} = array('${2}' => ${3});${4}
snippet cl
	/**
	 * ${1}
	 **/
	class ${2:ClassName}
	{
		${3}
		function ${4:__construct}(${5:argument})
		{
			${6:// code...}
		}
	}
snippet cls
	/**
	 * ${1}
	 **/
	class ${2:ClassName}
	{
		${3}
		function ${4:__construct}(${5:argument})
		{
			${6:// code...}
		}
	}
snippet fn
	${1:public }function ${2:FunctionName}(${3})
	{
		${4:// code...}
	}
snippet pe
	<?php echo ${1:""}; ?>
