snippet vffa
	---
	name: "${1}"
	author: "${2}"
	description: "${3}"
	status: "${4:Author's site down}"
	${5:lemon: true}
	---
snippet vffaa
	---
	name: "${1}"
	author: "${2}"
	description: "${3}"
	status: "${4:Author's site down}"
	${5:lemon: true}
	vffa_version: ${6:1.0}
	source: "${7:http://www.example.com/}"
	archived_date: "${8:1937-05-06}"
	---
