[alias]
	both = diff HEAD
	br = branch -a
	ca = commit -a
	ci = commit
	co = checkout
	di = diff
	oneline = log --pretty=oneline
	pick = cherry-pick
	re = checkout HEAD --
	st = status
	staged = diff --cached
	unstaged = diff
	addremove = add -A
[branch]
	autosetupmerge = always
	autosetuprebase = always
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	excludesfile = /home/ssokolow/.gitignore
	legacyheaders = false
	abbrev = 12
[format]
	numbered = auto
[merge]
	tool = kdiff3
[push]
	default = matching
[repack]
	usedeltabaseoffset = true
[sendemail]
	aliasesfile = /home/ssokolow/.gitaliases
	aliasfiletype = mailrc
	smtpserver = smtp.gmail.com
	smtpssl = true
[user]
	name = Stephan Sokolow
	email = http://www.ssokolow.com/ContactMe

# Seamless r/w checkouts for me.
# Source: http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
# TODO: Also set this up for HTTPS checkouts?
[url "git@github.com:ssokolow/"]
	insteadOf = "git://github.com/ssokolow/"

# vim: noexpandtab
[gui]
	recentrepo = /home/ssokolow/.profile_repo
[guitool "gitk"]
	cmd = gitk
[include]
	path = .gitconfig.credentials
