[user]
	name = Stephan Sokolow
	email = http://www.ssokolow.com/ContactMe
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit
	ca = commit -a
	di = diff
	re = checkout HEAD --
	staged = diff --cached
	unstaged = diff
	both = diff HEAD
	oneline = log --pretty=oneline
	br = branch -a
	pick = cherry-pick
[branch]
	autosetupmerge = always
	autosetuprebase = always
[merge]
	tool = kdiff3
[core]
	excludesfile = /home/ssokolow/.gitignore
	legacyheaders = false
[sendemail]
	smtpserver = smtp.gmail.com
	aliasesfile = /home/ssokolow/.gitaliases
	aliasfiletype = mailrc
	smtpssl = true
[repack]
	usedeltabaseoffset = true
[format]
	numbered = auto
[github]
	user = ssokolow
[push]
	default = matching

# Seamless r/w checkouts for me.
# Source: http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
# TODO: Also set this up for HTTPS checkouts?
[url "git@github.com:ssokolow/"]
  insteadOf = "git://github.com/ssokolow/"
