# Compiled objects (Commented out to remind me to copy them into each project)
# *.py[co]
# *.class
# *.[oa]
# *.l[oa]

# Vim swap files
.*.sw[mnop]

# Backup files
*~

# See also:
# - http://help.github.com/git-ignore/
# - https://github.com/github/gitignore

