[alias]
	wdiff = diff --color-words
	wshow = show --color-words

	ci = commit
	co = checkout
	di = diff
	wdi = diff --color-words

	both = diff HEAD
	br = branch -a
	ca = commit -a
	oneline = log --pretty=oneline
	pick = cherry-pick
	re = checkout HEAD --
	st = status
	staged = diff --cached
	unstaged = diff
	addremove = add -A
[branch]
	autosetupmerge = always
	autosetuprebase = always
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	excludesfile = /home/ssokolow/.gitignore
	legacyheaders = false
	abbrev = 12
[format]
	numbered = auto
[gui]
	recentrepo = /home/ssokolow/.profile_repo
	fontui = -family \"DejaVu Sans\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[guitool "gitk"]
	cmd = gitk
[merge]
	tool = kdiff3
[push]
	default = matching
[rebase]
	autostash = true
[repack]
	usedeltabaseoffset = true
[sendemail]
	aliasesfile = /home/ssokolow/.gitaliases
	aliasfiletype = mailrc
	smtpserver = smtp.gmail.com
	smtpssl = true
[user]
	name = Stephan Sokolow
	email = http://www.ssokolow.com/ContactMe
[include]
	path = .gitconfig.credentials

# Seamless r/w checkouts for me.
# Source: http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:ssokolow/"]
	insteadOf = "git://github.com/ssokolow/"

# Even further shorthand
# Source: http://www.jwir3.com/blog/2014/10/01/git-transfusion/
[url "git@github.com:ssokolow/"]
	insteadOf = "github:"

# ...and for HTTPS checkouts too
# Source: https://golang.org/doc/faq
[url "git@github.com:"]
	pushInsteadOf = https://github.com/

# vim: noexpandtab
