! {{{ Quick Reference
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!
! }}}
! {{{ TODO:
! - Think about whether printerCommand could be repurposed.
! - Experiment with http://manac.wordpress.com/2007/01/07/xterm-default-fonts-truetype/
! - Consider http://dmr.ath.cx/notes/xterm.html
!
! }}}

! Make Tk applications look more modern
! TODO: Figure out how to remove the raised border on the menubar
*TkTheme: clearlooks
*background: #efebe7

! Fix font-size idiocy related to my having multiple monitors with mixed DPI
Xft.dpi: 96

! ---=== Experiment with making Motif less ugly for DDD ===---
! (DDD ignores generically-set Motif properties so we must do this)
! TODO (if possible):
!  - Hide text cursors in unfocused fields
!  - Convert on-hover effect from shadow to background color or border
!  - Pick better fonts and check which package provides them

! Use the lighter background grey from the Lubuntu GTK+ theme
! (Still a cool grey. Eyedropper the Clearlooks warm grey if necessary.)
Ddd*background: #e0e0e0

! These had no effect on my system but, from what I read, they help on
! some systems.
Ddd*enableThinThickness: True
Ddd*enableEtchedInMenu: True
Ddd*enableToggleColor: True
Ddd*enableToggleVisual: True

! Use pure white for white backgrounds like modern widget themes and websites
Ddd*XmText.background:         #ffffff
Ddd*XmTextField.background:    #ffffff
Ddd*XmList.background:         #ffffff
Ddd*GraphEdit.background:      #ffffff

! Thick borders and shadows everywhere are archaic
Ddd*shadowThickness: 1
Ddd*borderThickness: 0
Ddd*?*arg*shadowThickness: 1
Ddd*?*arg*borderThickness: 0
Ddd*?*buttons*shadowThickness: 1
Ddd*?*buttons*borderThickness: 0

! Un-cramp the menubar, menus, and toolbar to match modern compact sizing
Ddd*menubar*marginTop: 1
Ddd*menubar*marginBottom: 0
Ddd*XmMenuShell*marginTop: 2
Ddd*XmMenuShell*marginBottom: 2
Ddd*XmMenuShell.?.marginWidth: 2
Ddd*XmMenuShell.?.marginHeight: 2
Ddd*toolbar*marginWidth: 5

! Compact the menu tear-off buttons
Ddd*XmMenuShell*XmTearOffButton*borderWidth: 0
Ddd*XmMenuShell*XmTearOffButton*marginHeight: 0

! DDD's interpretation of a "toggle button" shouldn't have a raised border
Ddd*XmToggleButton*shadowThickness: 0
Ddd*XmToggleButton*borderThickness: 0

! The menu bar should not have a raised border
Ddd*menubar.shadowThickness: 0
Ddd*menubar.borderThickness: 0
Ddd*XmMenuShell*XmTearOffButton*ShadowThickness: 2

! ...and we do not want a border around the toolbar to make that stand out
Ddd*main_window.?.borderThickness: 0
Ddd*main_window.shadowThickness: 0

! Drop-down boxes in toolbars do not have raised borders these days
Ddd*toolbar.shadowThickness:        0
Ddd*toolbar.?.shadowThickness:      1

! DDD can sometimes get its GDB settings fatally messed up so duplicate
! GUI-exposed integration defaults here for when I want to nuke ~/.ddd/init
Ddd*cutCopyPasteBindings: KDE
Ddd*selectAllBindings: KDE
Ddd*buttonColorKey: c
Ddd*FlatButtons: on

! ---=== XTerm Defaults for a nice mix of Linux console and Konsole ===---

! Operate terminals in utf8 mode whether or not uxterm was called
*VT100.utf8:	1

! Plenty of room for things like Vim :vsplit
*VT100*geometry: 160x55

! Set the Urgent hint on bell for console apps without notify-send
XTerm*bellIsUrgent:  true
UXTerm*bellIsUrgent:  true

! White on Black without being eye-straining.
*customization: -color
*VT100*foreground: gray70
*VT100*background: black

! The default blue used by my stuff is barely readable
*color12:  #005FFF

! Make the scrollbar look a little less 1980s on all Athena-based VT100s.
*VT100.scrollbar.background:    gray60
*VT100.scrollbar.foreground:    white
*rightScrollBar: true

! More Konsole/Yakuake-like keybindings:
! NOTE: in Konsole/Yakuake, bind Ctrl+Backspace to \b
*VT100.Translations: #override \
             Shift <Key>Up:         scroll-back(1, halfpage) \n\
             Shift <Key>Down:       scroll-forw(1, halfpage) \n\
\
            ~Ctrl<Key>BackSpace:     string(0x08)  \n\
             Ctrl<Key>BackSpace:     string(0x1b) string(0x08)  \n\
\
            ~Ctrl<Key>Tab:     string(0x09)  \n\
             Ctrl<Key>Tab:     string(0x1b) string("r") \n\
\
      ~Meta  Shift  Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
       Meta  Shift  Ctrl <Key>V:    insert-selection(PRIMARY) \n\
            ~Shift ~Ctrl <Btn2Up>:  insert-selection(PRIMARY, CUT_BUFFER0) \n\
             Shift ~Ctrl <Btn2Up>:  insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
            ~Shift       <BtnUp>:   select-end(PRIMARY, CUT_BUFFER0) \n\
             Shift       <BtnUp>:   select-end(CLIPBOARD, CUT_BUFFER1) \n\

! Make selection of URLs and ebuild names behave more naturally
*charClass: 33:48,35:48,37-38:48,43-47:48,58:48,61:48,63-64:48,95:48,126:48

! Keep 5K of scrollback and only reset the scroll position on keypresses.
XTerm*saveLines: 5120
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false

! ---=== urxvt Defaults for a nice mix of Linux console and Konsole ===---

URxvt.iconFile: /usr/share/icons/elementary/apps/32/terminal.svg

! URL integration
! TODO: Consider this: http://www.jukie.net/bart/blog/urxvt-url-yank
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.urlLauncher: xdg-open

urxvt_kuake.perl-ext-common: default,matcher,clipboard,kuake_plus<F12>
urxvt_kuake.geometry: 212x60+1400+0
urxvt_kuake.borderLess: true
urxvt_kuake.internalBorder: 0
urxvt_kuake.externalBorder: 0

kuake.toggleFocusesIfVisible: true

urxvt_desktop.geometry: 160x50+2760+150
urxvt_desktop.transparent: true
urxvt_desktop.tintColor: white
urxvt_desktop.shading:70
! TODO: Why does this hyper-saturate the background until I move it?
urxvt_desktop.scrollBar:false
urxvt_desktop.transpscrollbar:true
urxvt_desktop.borderLess: true
urxvt_desktop.internalBorder: 10

! White on Black without being eye-straining.
Rxvt.background: #010101
Rxvt.foreground: #B3B3B3

! Make the scrollbar look a little less 1980s.
URxvt*scrollstyle: plain
URxvt*scrollBar_right: true

! Keep 5K of scrollback and only reset the scroll position on keypresses.
URxvt.saveLines: 5120
URxvt.scrollWithBuffer: true
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true

! Set the Urgent hint on bell for console apps without notify-send
URxvt.urgentOnBell: true
! But not in something which will not usually be visible anyway
urxvt_kuake.urgentOnBell: false

! More Konsole/Yakuake-like clipboard keybindings
URxvt.iso14755: false
URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.S-C-C: perl:clipboard:copy
URxvt.keysym.S-C-V: perl:clipboard:paste
URxvt.keysym.M-v: perl:clipboard:paste_escaped

! Prevent urxvt from letting me accidentally print garbage to the printer
Rxvt.print-pipe: ~/bin/confirm_print.sh
URxvt.print-pipe: ~/bin/confirm_print.sh

! Unbreak zsh keys in URxvt
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! Match my XTerm additions
URxvt*keysym.C-BackSpace: \033\010
URxvt*keysym.C-Tab: \033r
! TODO: Look into translating button bindings.

! Extend smart selection for the zsh and Python interactive interpreter prompts
URxvt.selection.pattern-0: >>>[ ]+(.+)
URxvt.selection.pattern-1: .+?@.+? .+? %%?[ ]+(.+)

! Stuff to explore:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.7.pod
! http://awesome.naquadah.org/wiki/Urxvt
! https://wiki.archlinux.org/index.php/Rxvt-unicode
!URxvt.mapAlert: true
URxvt.geometry: 120x41
URxvt.pastableTabs: true

URxvt*font:		xft:Bitstream Vera Sans Mono:style=Regular:pixelsize=13

!TODO: Links:
! - http://en.gentoo-wiki.com/wiki/Rxvt-Unicode
! - https://kmandla.wordpress.com/2009/12/21/cool-and-fun-screen-vs-inside-yakuake/#comment-41235
! - http://www.brain-dump.org/projects/dvtm
!TODO: Try to fix the urxvt scrollbar in a urxvt+screen+vim stack.
!TODO: Experiment with tmux

!TODO: Figure out where the weight is in my zsh RC files and prune it away.
!With urxvt making the terminal start fast, it is embarassing for it to stay
!on a blinking cursor for ages with a cold cache.

!TODO: Figure out what is making completions for things like less so sluggish.

! ---=== Make yeahconsole the best lightweight Yakuake substitute possible ===---

! Make yeahconsole more like the Yakuake default setup.
yeahconsole*term: urxvt
yeahconsole*toggleKey: Ctrl+F12
yeahconsole*restart: 1

! I like my slide-down terminal to take 3/4 to 4/5 of a 1280x1024 monitor.
yeahconsole*consoleHeight: 60
yeahconsole*screenWidth: 1280

! Animation is too slow if I am on a computer where Yakuake is inappropriate.
yeahconsole*aniDelay: 1
yeahconsole*stepSize: 0

! vim:fdm=marker
