snippet boiler
	#!/bin/bash
	# ${1:[application description here]}
	# By: Stephan Sokolow (deitarion/SSokolow)
	#
	# Released under the ${2:GNU GPL 3.0 or later}

	${3}

snippet sudo
	if [ "$(id -u)" != 0 ]; then
		exec sudo "${1:0}" "$@"
	fi

snippet cd
	cd "$(dirname "$${1:0}")"${2}
