# Omit the closing } until I figure out how to keep pear-tree from duping it
# The innards are the big hassle anyway
#
# Plus, this lets me put my cursor inside an existing {} and hit \c to turn
# it into {:#?}
snippet { "Debug Pretty-Print Placeholder" i
\{:#?
endsnippet
