[Desktop Entry]
Name=GQview
GenericName=Image Viewer
GenericName[et]=Piltide vaatur
GenericName[tr]=Resim göstericisi
GenericName[fr]=Explorateur d'images
GenericName[hu]=Képnéző
GenericName[es]=Visor de imágenes
Comment=View and manage images
Comment[hu]=Képek megjelenítése és rendszerezése
Comment[es]=Visualiza y administra imágenes
Exec=gqview %F
Icon=/home/ssokolow/.local/share/images/gqview.png
Type=Application
Terminal=false
# Startup notification disabled, since the remote -r switch may not open a new window...
#StartupNotify=false
#StartupWMClass=gqview
Categories=Graphics;Viewer;
MimeType=image/x-xpixmap;image/x-xbitmap;image/x-tga;image/x-sun-raster;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-portable-anymap;image/x-pcx;image/x-ico;image/x-cmu-raster;image/vnd.wap.wbmp;image/tiff;image/svg+xml;image/png;image/jpeg;image/gif;image/bmp;image/bmp;image/bmp;application/x-navi-animation;
NotShowIn=X-Geeqie;
