[Desktop Entry]
Name=Purple URL Handler
GenericName=Internet Messenger
Comment=URL handler for Google Talk, Jabber/XMPP, MSN, Yahoo and more
Exec=purple-url-handler %U
Icon=pidgin
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/aim;x-scheme-handler/gg;x-scheme-handler/gtalk;x-scheme-handler/icq;x-scheme-handler/irc;x-scheme-handler/msnim;x-scheme-handler/myim;x-scheme-handler/sip;x-scheme-handler/xmpp;x-scheme-handler/ymsgr;
Categories=Network;InstantMessaging;
X-Ubuntu-Gettext-Domain=pidgin
