SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05dc", MODE:="0666", RUN+="/usr/bin/sudo -u ssokolow /home/ssokolow/.profile_repo/supplemental/usblcd_todo/run.sh"
