SUBSYSTEM=="usb", ATTRS{idVendor}=="2207", ATTR{idProduct}=="0011", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTR{idProduct}=="4ee1", MODE="0666", GROUP="plugdev"
