SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d50", ATTRS{idProduct}=="0008", MODE:="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="0a60", MODE:="0666"
