[Desktop Entry]
Categories=
Comment[en_CA]=Crash-recovering launch wrapper for Conky
Comment=Crash-recovering launch wrapper for Conky
Comment[en_US]=Crash-recovering launch wrapper for Conky
Exec=sh -c "until /usr/bin/conky; do sleep 1; done"
GenericName[en_CA]=Desktop System Monitor
GenericName=Desktop System Monitor
GenericName[en_US]=Desktop System Monitor
MimeType=
Name[en_CA]=Conky
Name=Conky
Name[en_US]=Conky
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
