[Desktop Entry]
Categories=
Comment[en_US]=Crash-recovering launch wrapper for Conky
Comment=Crash-recovering launch wrapper for Conky
Exec=sh -c "until conky; do sleep 1; done"
GenericName[en_US]=Desktop System Monitor
GenericName=Desktop System Monitor
MimeType=
Name[en_US]=Conky
Name=Conky
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
