[Desktop Entry]
Categories=GTK;System;
Comment=CDEmu GUI
Comment[sl]=CDEmu grafični vmesnik
Exec=gcdemu
Hidden=true
Icon=gcdemu
Name=gCDEmu
Name[sl]=gCDEmu
NotShowIn=LXDE;
StartupNotify=false
Terminal=false
TryExec=gcdemu
Type=Application
Version=1.0
X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Phase=Applications
X-GNOME-Autostart-enabled=false
