[Desktop Entry]
Categories=GTK;System;
Comment=gCDEmu GUI
Comment[no]=gCDEmu GUI
Comment[sl]=CDEmu grafični vmesnik
Comment[sv]=gCDEmu-GUI
Exec=gcdemu
Hidden=true
Icon=gcdemu
Name=gCDEmu
Name[no]=gCDEmu
Name[sl]=gCDEmu
Name[sv]=gCDEmu
StartupNotify=false
Terminal=false
TryExec=gcdemu
Type=Application
Version=1.0
X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Phase=Applications
X-GNOME-Autostart-enabled=false
