[Desktop Entry]
Name=Set XKB Map
GenericName=Configure Keyboard
Comment=Set up my preferred keyboard layout options
Exec=setxkbmap -variant altgr-intl -option -option lv3:ralt_switch -option compose:rctrl -option terminate:ctrl_alt_bkspc -option eurosign:e -option nbsp:level3n -option caps:hyper
Terminal=false
Type=Application
Categories=
StartupNotify=false
