[Desktop Entry]
Name=ssh-add
GenericName=Load SSH keys
Comment=Load SSH keypairs from ~/.ssh using ssh-add and ssh-askpass
Exec=ssh-add
Terminal=false
Type=Application
Categories=
StartupNotify=false
