[Desktop Entry]
Name=The Procrastinator's Timeclock
GenericName=Timeclock
Comment=Keep track of time spent on "one more thing"
Exec=sh -c "exec ~/src/timeclock/run.py"
Terminal=false
Type=Application
Categories=
StartupNotify=false
