[Desktop Entry]
Categories=
Comment=Start xbindkeys
Encoding=UTF-8
Exec=xbindkeys_autostart
GenericName=
Hidden=true
Name=xbindkeys
Terminal=false
Type=Application
Version=1.0
