[Desktop Entry]
Name=XBindKeys
GenericName=Enable Custom Keybindings
Comment=Enable keybindings defined in ~/.xbindkeysrc
Exec=sh -c 'xmodmap ~/.xmodmaprc; exec xbindkeys'
Terminal=false
Type=Application
Categories=
StartupNotify=false
